/*Home*/
:root {
  --primary: #003F30;
  --primaryHover:#00140F;
  --primaryFocus:#439F88;

  --secondary: #060637;
  --secondaryHover: #202031;
  --secondaryFocus: #9C9CD3;

  --footer-color: #002031;
  --textLightColor: #34403A;
}

/* .btn-outline-primary:hover {
  background-color: var(--primaryHover);
  border-color: black;
  color: white ;

} */

.contenedorfotoForoPost{
  max-width: 60px !important; 
  height: auto;
}
.contenedorfotoPost{
  max-width: 200px !important;
  max-height: 300px !important;
}
.card-text{
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

scroll > a{
  text-decoration: none;
}


