/*Home*/
:root {
  --primary: #003F30;
  --primaryHover: #00140F;
  --primaryFocus: #439F88;

  --secondary: #060637;
  --secondaryHover: #202031;
  --secondaryFocus: #9C9CD3;

  --footer-color: #002031;
  --textLightColor: #34403A;
}

/* .btn-outline-primary:hover {
  background-color: var(--primaryHover);
  border-color: black;
  color: white ;

} */
.home {
  margin: 2%;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

scroll>a {
  text-decoration: none;
}

.boton_post_foro,.boton_ver_post {
  padding: 0.4em 0.5em;
}


