/*Home*/
:root {
  --primary: #003F30;
  --primaryHover: #00140F;
  --primaryFocus: #439F88;

  --secondary: #060637;
  --secondaryHover: #202031;
  --secondaryFocus: #9C9CD3;

  --footer-color: #002031;
  --textLightColor: #34403A;
}

.home {
  margin: 4%;
}

.nombreForo {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  /* Adjust the number of lines as needed */
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

scroll>a {
  text-decoration: none;
}

.boton_post_foro,
.boton_ver_post {
  padding: 0.4em 0.5em;
}

/* .scroll{
  background-color: whi;
} */
.item {
  /* Glassmorphismo */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(221, 221, 221, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 1em;
}

.item:hover {
  box-shadow: -22px -22px 57px #321f91,
    22px 22px 57px #5e3bff;
  transition: all 200ms ease-in-out;
}


item:active {
  /* Glassmorphismo */
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(221, 221, 221, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
  border-radius: 1em;
  /* Movimiento */
  transform: translateY(6px);
  transition: 200ms;
}

.scroll>a {
  text-decoration: none;
}

.scrollContainer {
  background: rgb(6, 6, 55);
  background: linear-gradient(90deg, rgba(6, 6, 55, 1) 15%, rgba(156, 156, 211, 1) 100%);
  border-radius: 1em;
}

.card {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
}

img {
  height: auto;
  max-height: 450px;
  object-fit: cover;
  margin: auto;
}

.botonesPequenos {
  display: none;
}

@media only screen and (max-width: 425px) {
  .botonesGrandes {
    display: none;
  }

  .botonesPequenos {
    display: contents;
  }
}

@media only screen and (max-width: 768px) {
  .botonesGrandes {
    display: none;
  }

  .botonesPequenos {
    display: contents;
  }

  h1 {
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .home {
    margin: 4%;
  }

}