:root{
   --secondary: #060637;
}


.loginAdmin {
   margin: 1%;
}

#logo-phorum {
   border: 1px, solid, var(--secondary);
   border-radius: 1em;
   background-color:var(--secondary);
   
}

.contenedorFormulario {
   border-radius: 1em;
   border: 1px, solid, black;
}