.contenido {
    width: auto;
    height: 100%;
}

.previews {
    width: max;
    height: auto;
}

#undraw_small_town_re_7mcn {
    width: 40%;
    height: auto;
}

#imagen_form {
    width: auto;
    height: 100%;
}


#logo_phorum {
    width: 35%;
    height: auto;
}

@media screen and (min-width: 900px) {}

@media screen and (max-width: 900px) {
    #imagen_form {
        display: none;
    }

}