.contenido {
    width: auto;
    height: 100%;
}

.previews {
    width: max;
    height: auto;
}

/* Imagenes  */

#imagen_form {
    width: auto;
    height: 100%;
}

#registrarse {
    width: 35%;
    height: auto;
}

#logo_phorum {
    width: 35%;
    height: auto;
}

@media screen and (min-width: 900px) {}

@media screen and (max-width: 900px) {
    #imagen_form {
        display: none;
    }

}