@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
button select {
    font: inherit;
}

/* Root */
:root {
    --primary: #003F30;
    --primaryHover:#00140F;
    --primaryFocus:#439F88;

    --secondary: #060637;
    --secondaryHover: #202031;
    --secondaryFocus: #9C9CD3;

    --footer-color: #002031;
    --textLightColor: #34403A;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;
}

a {
    text-decoration: none;
    color: var(--primary);
}

.text-primary {
    color: var(--primary);
}



/* Botones */

/* -Primarios */
.btn-primary {
    background-color: var(--primary);
    color: white;
}
.btn-primary:hover {
    background-color: var(--primaryHover);
    color: white;
}
.btn-primary:focus{
    background-color: var(--primaryFocus);
    color: var(--textLightColor);
}

.btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
}


/* -Secundarios */

.btn-secondary {
    background-color: var(--secondary);
    color: white;
}
.btn-secondary:hover {
    background-color: var(--secondaryHover);
    color: white;
}
.btn-secondary:focus {
    background-color: var(--secondaryFocus);
    color: var(--textLightColor);
}


.header {
    background-color: var(--secondary);
    color:  var(--textLightColor);
    
}

/* Contenedor */
.contenedor-block {
    display: block;
}

#contenedor {
    height: auto;
    width: 98vw;
}



/*Navbar*/

.navbar>a {
    font-family: 'Lato', sans-serif;
    padding: 1rem;
}

.navbar {
    background-color: var(--primary);
    text-align: center;
}

/*Horizontal scroll*/
.item > a {
 color: var(--primary);

}
.scrollContainer {
    width: 100%;
    height: auto;
}

.scroll {
    display: flex;
    overflow-x: scroll;
    background-color: transparent;
    scroll-behavior: smooth;
}

.scroll .item {
    margin: 1rem;
    min-width: 9.4rem;
    height: 9.4rem;
    line-height: 6.3rem;
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 3px 4px #ddd;
    border-radius: 2%;
    transition: all 200ms ease-in-out;
}

.scroll .item:hover {
    box-shadow: 6px 6px 8px 6px #ddd;
    transition: all 200ms ease-in-out;
}

.scroll-image {
    margin: 5%;
}

*/
/*Scroll bar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 3px #969696;
    border-radius: 2px;}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 2px;
}

/*Cartas*/

.card {
    width: 50%;
    height: auto;
    transition: all 200ms ease-in-out;
}

.card > a {
    text-decoration: none;
    color: var(--primary);

}

.card:hover {
    transition: all 200ms ease-in-out;
    box-shadow: 7px 9px 13px 0px rgba(0, 0, 0, 0.67);
}

/*Botones*/
.material-symbols-outlined {
    font-size: 2em;
}

.badge {
    font-size: 1em;
}

#file-upload-button {
    background-color: var(--secondary);
}

/*Forms*/
::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: black;
}


/*Modal Bootstrap */
.modal-backdrop {
    opacity: 0.8 !important;
}

.modal-dialog {
    margin: 0rem;
    margin-right: auto;
    margin-left: auto;

}

/*Modal Swal*/
.swal {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

.swal-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}

.swal-button {
    background-color: var(--primary);
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1rem;
}

/* Spinner */
#spinner { visibility:hidden; } 
body.cargando .spinner { visibility:visible !important; }

/*Footer*/

.footer-bg {
    background-color: var(--footer-color);
    width: 100%;
    height: auto;
}

.footer-menu {
    display: block;
}

.list-footer {
    border: none;
}

.list-footer-item {
    border: none;
}

.footer-menu,
.footer-copy,
.footer-imagen,
.list-footer,
.list-footer-item,
.phorum-tag-container,
.phorum-tag {
    background-color: var(--footer-color);
}

.imagen-footer {
    max-width: 100%;
    height: auto;
}


.logo-footer {
    display: block;
    margin: auto;
    max-width: 5%;
    height: auto;
}

.phorum-tag {
    font-size: 1rem;
}

/*Pantallas*/

@media only screen and (max-width: 425px) {

}

@media only screen and (max-width: 768px) {

}