@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

img,
picture,
svg {
    display: block;
    max-width: 100%;
}

input,
textarea,
button select {
    font: inherit;
}

/* Root */
:root {
    --primary: #003F30;
    --primaryHover: #00140F;
    --primaryFocus: #439F88;

    --primaryHsl: hsl(166, 100%, 12%);
    --primaryHover: hsl(165, 100%, 4%);
    --primaryFocus: hsl(165, 41%, 44%);

    --secondary: #060637;
    --secondaryHover: #202031;
    --secondaryFocus: #9C9CD3;

    --footer-color: #002031;
    --textLightColor: #34403A;


    --error: #780B0B;
    --errorHover: #ac1010;
    --errorFocus: #f11b1b;

}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}

h1 {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    font-size: 2.5rem;

}

h2 {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    font-size: 1.6rem;

}

h3 {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;

}

h4 {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;

}

h5 {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    font-size: 1.3rem;

}

a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    font-size: 1rem;
    color: var(--primaryHover);
    box-shadow: none;
}

a:focus {
    color: var(--primaryFocus);
    box-shadow: none;
}

img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}

.text-primary {
    color: var(--primary) !;
}

.form-control:focus {
    border-color: var(--primaryFocus);
    background: linear-gradient(45deg, #e6e6e6, #ffffff);
    box-shadow: 21px -21px 41px #e0e0e0,
        -21px 21px 41px #ffffff;
}


/* Botones */

/* -Primarios */
.btn {
    padding: 1em 2em;
    border-radius: 1.05rem;
    border: 0;
    box-shadow: hsla(0, 0%, 0%, 0.05) 0 0 8px;
    letter-spacing: 0.1em;
    font-size: 1rem;
    transition: all .5s ease;
}


.btn:hover {
    letter-spacing: 0.15em;
    color: white;
    border-radius: 1rem;
}

.btn:focus {
    transform: translateY(-6px);
    transition: 200ms;
    letter-spacing: 0.15em;
    border-color: var(--primaryFocus);
    box-shadow: inset 0 1px 1px rgba(250, 241, 241, 0.075), 0 0 8px var(--primaryFocus);
}

.btn:active {
    letter-spacing: 0.15em;
    transform: translateY(6px);
    transition: 200ms;
}

.btn-primary {
    background-color: var(--primary);
    /* background:var(--primary); */
}


.btn-primary:hover {
    background-color: var(--primaryHover);
    /* background:var(--primaryHover); */
    box-shadow: inset 22px 22px 44px #03a37e,
        inset -22px -22px 44px #01614b;
}


.btn-primary:active {
    border-color: var(--primaryFocus);
    background-color: var(--primaryFocus);
    box-shadow: var(--primaryFocus) 1px 1px 1px 1px;
    outline: 1px, solid, var(--primaryFocus);
    color: var(--textLightColor);
}

.btn-primary:focus {
    border-color: var(--primaryFocus);
    background-color: var(--primaryFocus);
    box-shadow: var(--primaryFocus) 1px 1px 1px 1px;
    color: var(--textLightColor);
}

.btn-outline-primary {
    border-color: var(--primary);
    color: var(--primary);
    background-color: white;

}

.btn-outline-primary:hover {
    border-color: white;
    color: white;
    background-color: var(--primaryHover);

}

.btn-outline-primary:focus {
    border-color: var(--primaryHover);
    color: var(--primaryHover);
    background-color: var(--primaryFocus);

}

.btn-outline-primary:active {
    border-color: var(--primaryHover);
    color: var(--primaryHover);
    background-color: var(--primaryFocus);
}

/* -Secundarios */

.btn-secondary {
    background-color: var(--secondary);
    color: white;
}

.btn-secondary:hover {
    background-color: var(--secondaryHover);
    color: white;
}

.btn-secondary:focus {
    background-color: var(--secondaryFocus);
    color: var(--textLightColor);
}

.btn-danger {
    border-color: var(--error);
}

.btn-danger:hover {
    border-color: var(--error);
}

.btn-danger:focus {
    border-color: var(--error);
}

.btn-danger:active {
    border-color: var(--error);
}


/* Header */

.waves {
    background-color: var(--secondary);
}

.text-secondary {
    color: var(--primary);
}

/*Navbar*/

.navbar>a {
    font-family: 'Lato', sans-serif;
    padding: 0.1rem;
}

.navbar {
    padding-top: 0 !important;
    background-color: var(--primary);
    text-align: center;
}

.nav-item>a {
    text-decoration: none;
}

#logo-nav {
    width: 100%;
    max-width: 70px;
    height: auto;
}

/*Horizontal scroll*/

.item {
    width: 20%;
    height: auto;
}

.boton_post_foro {
    text-decoration: none;
}

.scrollContainer {
    width: 100%;
    height: auto;
}

.scroll {
    display: flex;
    overflow-x: scroll;
    background-color: transparent;
    scroll-behavior: smooth;
}

.scroll .item {
    margin: 1rem;
    min-width: 9.4rem;
    height: 9.4rem;
    line-height: 6.3rem;
    text-align: center;
    border: 1px solid #ddd;

    border-radius: 2%;
    transition: all 200ms ease-in-out;
}

.scroll .item:hover {
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
    transition: all 200ms ease-in-out;
}

*/
/*Scroll bar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 1px 1px 3px #969696;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 2px;
}

/*Cartas*/

.card {
    width: 50%;
    height: auto;
    transition: all 200ms ease-in-out;
}

.card>a {
    text-decoration: none;
    color: var(--primary);

}

.card:hover {
    transition: all 200ms ease-in-out;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.059),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.085),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.105),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.125),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.151),
        100px 100px 80px rgba(0, 0, 0, 0.21);
}

/*Botones*/
.material-symbols-outlined {
    font-size: 2em;
}

.badge {
    font-size: 1em;
}

#file-upload-button {
    background-color: var(--secondary);
}

/*Forms*/
::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: black;


}

input {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

/*Modal Bootstrap */
.modal-backdrop {
    opacity: 0.8 !important;
}

.modal-dialog {
    margin: 0rem;
    margin-right: auto;
    margin-left: auto;

}

/*Modal Swal*/
/*Glasmorphismo*/
.swal {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(221, 221, 221, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
}

.swal-title {
    font-family: 'Lato', sans-serif;
    font-size: 1.4rem;
}

.swal-button--confirm {
    background-color: var(--primary);
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1rem;
}

.swal-button--cancel {
    background-color: var(--error);
    border: 1px solid white;
    border-radius: 4px;
    font-size: 1rem;
}

/* Spinner */
#spinner {
    visibility: hidden;
}

body.cargando .spinner {
    visibility: visible !important;
}

/*Footer*/

.footer-bg {
    background-color: var(--footer-color);
    width: 100%;
    height: auto;
}

.footer-menu {
    display: block;
}

.list-footer {
    border: none;
}

.list-footer-item {
    border: none;
}

.footer-menu,
.footer-copy,
.footer-imagen,
.list-footer,
.list-footer-item,
.phorum-tag-container,
.phorum-tag {
    background-color: var(--footer-color);
}

.imagen-footer {
    max-width: 100%;
    height: auto;
}


.logo-footer {
    display: block;
    margin: auto;
    max-width: 5%;
    height: auto;
}

.phorum-tag {
    font-size: 1rem;
}

/* Cabecera */
#phorum-icon {
    width: 10%;
    height: auto;
    background-color: #202031;
}

.card-img-top-scroll {
    width: 80%;
    height: 8vw;
    object-fit: cover;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.botonMovilOpciones {
    text-decoration: none;
}

.botonMovilOpciones:focus {
    background-color: #439F88;
}

/*Pantallas*/

@media only screen and (max-width: 425px) {
    .imagen-footer {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .imagen-footer {
        display: none;
    }
}